* {
  margin: 0px;
}
body {
  background: rgb(170, 209, 187);
  padding-top: 125px;
}

ul {
  background: rgb(48, 47, 51);
  padding: 10px 20px 10px 20px;
  display: flex;
  align-content: space-around;
  list-style-type: none;
  position: fixed;
  top: 0px;
  width: 100%;
}

li {
  color: white;
  padding: 20px;
}

h2 {
  text-align: center;
  padding: 10px 15%;
  padding-bottom: 0;
}

p {
  padding: 20px;
}

.info {
  padding: 10%;
  margin: 10%;
  margin-top: 5%;
  background-color: rgba(48, 47, 51, 0.5); 
  color: white;
  border-radius: 20%;
}

