
@media only screen and (min-width: 600px) {
    main {
        .homeBtns {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 25px;
            
            button {
                margin: 10px;
            }

            .generateBtn {
                grid-area: 1 / 2;
                width: 80%;
                margin: auto;
            }

            .imgEffects {
                grid-area: 1 / 3;
                display: flex;
                flex-direction: column;
                align-content: flex-end;
                width: 40%;
                margin: auto;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    main {
        .homeBtns {
            display: flex;
            flex-direction: column;

            .imgEffects {
                display: flex; 
                flex-direction: column;
            }
        }
    }
}

main {
    .homeBtns {
        button {
            padding: 10px;
            font-size: 15px;
            background: gray;
        }
    }

    h1 {
        text-align: center;
        padding: 50px;
        width: 75%;
        margin: auto;
    }
    
    p {
        text-align: center;
    }

    .newImg {
        width: fit-content;
        margin: auto;

        img {
        margin: auto;
        }

        .saveStuff {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 20px;

            button {
                padding: 10px;
                background: gray;
            }
        }
    }
    
}