<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caetlyn Venche</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="page">
        <header>
            
            <h1 class="glass">Caetlyn Venche</h1>
        </header>

        <nav>
            <a href="#who">Who Am I</a>
            <a href="#project">Projects</a>
            <a href="#resume">Resume</a>
            <a href="#skills">Skills</a>
            <a href="#findMe">Find Me</a>
        </nav>

        <main>
            
                
            <section class="whoAmI">
                
                <h2>Who Am I</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non voluptatem eum aliquid ut? Nam assumenda perspiciatis, voluptates magni sapiente eaque repellat fugit amet quos doloremque maiores omnis commodi illum inventore.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam neque tempora numquam iure blanditiis, quidem autem repellat quae illo aliquam voluptas quod rerum dicta at earum ea esse corporis. Qui.</p>
            </section>
                

                <p id="project" />
            <section class="projectSection">
                <h2>Projects</h2>

                <section class="projDiv">
                    <div>
                        <img src="" alt="" />
                        1
                        <h2>Title</h2>
                    </div>
                    <div>
                        2
                        <h2>Title</h2>
                    </div>
                    <div>
                        3
                        <h2>Title</h2>
                    </div>
                </section>
                
            </section>
                

                <p id="resume" />
            <section class="resume">
                <button>Resume button</button>
            </section>
                

                <p id="skills" />
            <section>
                <h2>Skills</h2>
                <!-- three columns -->
                <div class="skills">
                    <div class="skill">
                        <h3>Daily</h3>
                        <ul>
                            <li>Example</li>
                            <li>Example</li>
                            <li>Example</li>
                            <li>Example</li>
                            <li>Example</li>
                        </ul>
                    </div>
                    <div class="skill">
                        <h3>Proficient</h3>
                        <ul>
                            <li>Example</li>
                            <li>Example</li>
                            <li>Example</li>
                            <li>Example</li>
                            <li>Example</li>
                        </ul>
                    </div>
                    <div class="skill">
                        <h3>Dabble</h3>
                        <ul>
                            <li>Example</li>
                            <li>Example</li>
                            <li>Example</li>
                            <li>Example</li>
                            <li>Example</li>
                        </ul>
                    </div>
                </div>
                
            </section>
                

                <p id="findMe" />
            <section class="icons">
                <p><i class="fa fa-linkedin-square" aria-hidden="true"></i></p>
                <p><i class="fa fa-github-square" aria-hidden="true"></i></p>
            </section>
                
        </main>

        <footer>
            <h2>Contact Me</h2>
            <h3>caetlynvenche@gmail.com</h3>
            <h3>(208)713-8464</h3>
        </footer>

    </div>

    <script src="app.js"></script>
</body>
</html>