<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caetlyn Venche</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="page">
        <header>
            
            <h1 class="glass">Caetlyn Venche</h1>
        </header>

        <nav id="nav">
            <a id="aTag"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <div>
                
                <a href="#who" id="navItem5">Who Am I</a>
                <a href="#project" id="navItem4">Projects</a>
                <a href="#resume" id="navItem3">Resume</a>
                <a href="#skills" id="navItem2">Skills</a>
                <a href="#findMe" id="navItem1">Find Me</a>
            </div>
            
        </nav>

        <main>
            
                <p class="jump" id="who" />
            <section class="whoAmI">
                
                <h2>Who Am I</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non voluptatem eum aliquid ut? Nam assumenda perspiciatis, voluptates magni sapiente eaque repellat fugit amet quos doloremque maiores omnis commodi illum inventore.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam neque tempora numquam iure blanditiis, quidem autem repellat quae illo aliquam voluptas quod rerum dicta at earum ea esse corporis. Qui.</p>
            </section>
                

                <p class="jump" id="project" />
            <section class="projectSection">
                <h2>Projects</h2>

                <section class="projDiv">
                    
                    <div class="projBlock">
                        <div class="imgBlock">
                            <img src="../images/AdviceAPI.png" alt="Advice API" />
                            
                            <h2>Advice API</h2>
                        </div>
                        <aside>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi itaque consequatur veniam ut neque, quos expedita atque modi ad. Maxime quam assumenda expedita corporis veritatis necessitatibus eius dolorem, amet asperiores!</p>

                            <div class="usedLang">
                                <h5>React.js</h5>
                                <h5>SCSS</h5>
                                <h5>API</h5>
                            </div>
                            

                            <button>Launch Page</button>
                        </aside>
                    </div>
                    
                    <div class="projBlock">
                        <div class="imgBlock">
                            2
                            <h2>Title</h2>
                        </div>
                        <aside>
                            info two
                        </aside>
                    </div>
                    
                </section>
                
            </section>
                

                <p class="jump" id="resume" />
            <section class="resume">
                <a target="_blank" href="https://drive.google.com/file/d/1GckSazWdN7LZxNCDN4Z7chSSWUpGIelE/view?usp=sharing"><button>Resum&#233;</button></a>
            </section>
                

                <p class="jump" id="skills" />
            <section>
                <h2>Skills</h2>
                <div class="skills">
                    <div class="skill">
                        <h4>Daily</h4>
                        <ul>
                            <li>HTML & CSS</li>
                            <li>SASS & SCSS</li>
                            <li>Javascript</li>
                            <li>Example</li>
                            <li>Example</li>
                        </ul>
                    </div>
                    <div class="skill">
                        <h4>Proficient</h4>
                        <ul>
                            <li>React.js</li>
                            <li>Example</li>
                            <li>Example</li>
                            <li>Example</li>
                            <li>Example</li>
                        </ul>
                    </div>
                    <div class="skill">
                        <h4>Dabble</h4>
                        <ul>
                            <li>Adobe InDesign</li>
                            <li>Adobe Photoshop</li>
                            <li>Adobe Illustrator</li>
                            <li>Example</li>
                            <li>Example</li>
                        </ul>
                    </div>
                </div>
                
            </section>
                

                <p class="jump" id="findMe" />
            <section class="icons">
                <p><a href="https://www.linkedin.com/in/caetlyn-venche/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></p>
                <p><a href="https://github.com/caetlynvenche?tab=repositories"><i class="fa fa-github-square" aria-hidden="true"></i></a></p>
            </section>
                
        </main>

        <footer>
            <h2>Contact Me</h2>
            <h3>caetlynvenche@gmail.com</h3>
            <h3>(208)713-8464</h3>
        </footer>

    </div>

    <script src="app.js"></script>
</body>
</html>