* {
    box-sizing: border-box;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
}

header {
    text-align: center;
    padding: 15px;
}

.emphasis {
    color: darkslategray;
    text-decoration: underline;
    text-decoration-color: darkslategray;
}


article {
    margin: auto;
    padding: 50px;
    background-color: rgb(236, 219, 197);
    width: 700px;
    border: 5px solid rgb(236, 219, 197);
}

.separate {
    background-color: black;
    width: 100%;
    height: 5px;
    margin: 10px;
}

img {
    float: left;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

