body {
    background-color: black;
    font-family: mario;
}

.title {
    background-color: rgb(251, 208, 0);
    text-align: center;
    height:250px;
    width: 100%;
    background: linear-gradient(rgb(251, 208, 0) 65%, black 100%);
}

.title > h1 {
    position: relative;
    top: 80px;
}

img {
    width: 150px;
    height: 150px;
    margin: 30px;
    margin-top: 30px;
}

.gold {
    height: 20px;
    width: 20px;
    position: relative;
    top: -40px;
}


.characters {
    height: 75%;
    width: 100%;
    background-color: black;
    text-align: center;
    display: flex
}

@media only screen and (min-width: 800px) {
    .characters {
        flex-direction: row;
        justify-content: center
    }
    .char {
        width: 30%;
    }
    button {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .characters {
        flex-direction: column;
        justify-content: center;
    }
    .char {
        width: 100%;
    }
    button {
        font-size: 12px;

    }
}


@media only screen and (max-width: 500px) {
    .title > h1 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 500px) {
    .title > h1 {
        font-size: 70px;
    }
}

.char {
    color: white;
}

.goomba {
    display: inline-block;
background: linear-gradient(rgba(4,156,216,1), black);
    /* width: 30%; */
}

.bob-ombs {
    display: inline-block;
    background: linear-gradient(rgba(229,37,33,1), black);
    /* width: 30%; */
}

.cheep-cheeps {
    display: inline-block;
    background: linear-gradient(rgba(67,176,71,1), black);
    /* width: 30%; */
}

.price {
    display: inline;
    color: white;
}

.separate {
    height: 10px;
    width: 100%;
    background-color: black;
}


form {
    background-color: black;
    padding: 30px;
    margin: auto;
    text-align: center;
}



input {
    background-color: #FBD000;
    padding: 12px 20px;;
    margin: 8px;
    display: inline-block;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    outline: none;
    text-align: center;
}

button {
    background-color: #FBD000;
    padding: 12px 20px;;
    margin: 8px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    outline: none;
}


.amountsInput {
    display: block;
    margin: auto;
}

.total {
    background-color: #FBD000;
    padding: 100px;
    text-align: center;
    background: linear-gradient( rgb(251, 208, 0), rgb(251, 208, 0), black);
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 50px; 
    text-align: center;
}

@font-face {
    font-family: mario;
    src: url(SuperMario256.ttf)
}