.page {
    position: relative;
    min-height: 100vh;
}
.whoAmI {
    padding: 100px 25%;
    h2 {
        border-bottom: 4px solid $accent;
    }
}

.skills {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}


.projectSection {
    padding: 50px;
    background: $secondColor;

    h2 {
        color: $lightText;
    }
}

.icons {
    display: flex;
    justify-content: space-around;
    @include accentSection($leafImg);

    a {
        text-decoration: none;
        color: $accent;
        
    }

    a:hover {
        color: $lightText;
    }

    p {
        font-size: 75px; 
        padding: 50px 0px;
        width: 74px;
        // font-style: italic;
    }
}

.fa-github-square:before, .fa-linkedin-square:before {
    // background: $darkText;
    padding: 5px;
    // border-radius: 15px;
}

.resume {
    @include accentSection($CherryImg);
    display: flex;
    justify-content: center;
    padding: 40px;
    button {
        font-size: 20px;
        padding: 20px;
        margin: 40px;
        background: $secondColor;
        color: $lightText;
        border: none;
        border-radius: 5px;
        font-family: $bodyFont;
    }
    button:hover {
        color: $accent;
    }
}

.jump {
    padding: 0;
}