.page {
    position: relative;
    min-height: 100vh;
}
.whoAmI {
    h2 {
        border-bottom: 4px solid $accent;
    }
}

.skills {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}


.projectSection {
    padding: 50px;
    background: $secondColor;

    h2 {
        color: $lightText;
    }
}

.icons {
    display: flex;
    justify-content: space-around;
    @include accentSection($leafImg);

    a {
        text-decoration: none;
        color: $accent;
        
    }

    a:hover {
        color: $lightText;
    }

    p {
        font-size: 75px; 
        padding: 50px 0px;
        width: 74px;
    }
}



.resume {
    @include accentSection($CherryImg);
    display: flex;
    justify-content: center;
    padding: 40px;
    button {
        font-size: 20px;
        padding: 20px;
        margin: 40px;
        background: $secondColor;
        color: $lightText;
        border: none;
        border-radius: 5px;
        font-family: $bodyFont;
        box-shadow: 2px 2px 5px $accent;
    }
    button:hover {
        color: $accent;
    }
}

.jump {
    padding: 0;
}

.none {
    display: none;
}

.navList {
    text-align: center;
}

.myImg {
    position: absolute;
    border-radius: 50%;
    background-image: url("../images/selfie.jpg");
    background-size: 100%;
    background-position: center;
    transform: rotate(-20deg)
}