.projDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;

    img {
        width: 100%;
    }


    .imgBlock {
        background: $lightText;
        border: 5px solid $darkText;
        overflow: hidden;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h2 {
            background: $darkText;
            color: $lightText;
            padding: 10px;
            height: 60px;
        }
    }
    
}

.projBlock {
    border-bottom: 1px solid $accent;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside {
    color: $lightText;
    display: flex;
    flex-direction: column;
    margin: auto;

    .usedLang {
        margin: auto;
    }
    button {
        border: none;
        border-radius: 2px;
        padding: 7px;
        
        font-family: $bodyFont;
    }
    button:hover {
        background: $accent;
    }
}