@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


$focalFont: 'Cormorant Garamond', serif;
$bodyFont: 'Raleway', sans-serif;


$accent: rgba(248, 219, 105, 0.911);
$secondColor: #4A4D54;

$lightText: rgb(218, 216, 216);
$darkText: rgb(48, 48, 48);

$leafImg: url("https://images.pexels.com/photos/1563332/pexels-photo-1563332.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
$CherryImg: url("https://images.pexels.com/photos/34435/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500");
$yellowImg: url("https://images.pexels.com/photos/1039106/pexels-photo-1039106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
$headerImg: url("https://images.pexels.com/photos/1039109/pexels-photo-1039109.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");

@mixin accentSection($thisImg) {
    background-image: $thisImg;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 600px) {
    .myImg {
        height: 100px;
        width: 100px;
    }
    header {
        height: 250px;
        padding: 30px 30px;

        h1 {
            font-size: 50px;
            width: 40%;
        }
    }

    h2 {
        padding-top: 50px;
    }

    .whoAmI {
        padding: 100px 25%;
    }

    .imgBlock {
        width: 400px;
        height: 250px;
    }

    aside {
        width: 400px;
        height: 250px;

        button {
            margin: auto;
        }
    }

    .skills {
        padding: 50px;
    }

    .drawBlock {
        img {
            width: 400px;
        }
    }
}

@media only screen and (max-width: 600px) {

    .myImg {
        height: 75px;
        width: 75px;
    }
    header {
        height: 200px;
        padding: 25px;

        h1 {
            font-size: 30px;
        }
    }

    nav {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            flex-direction: column;
            align-self: center;

            a {
                text-align: center;
            }
        }
        a {
            margin: 7px;
            font-size: 20px;
            align-self: center;
        }
        #aTag {
            align-self: flex-start;
        }
    }

    h2 {
        padding-top: 30px;
    }

    .whoAmI {
        padding: 40px 15%;
    }

    .imgBlock {
        width: 350px;
        height: 230px;
    }

    aside {
        width: 350px;
        height: 230px;

        button {
            margin: 10px;
        }
        
    }

    .skills {
        padding: 30px;
        padding-top: 20px;
    }

    .drawBlock {
        img {
            width: 90vw;
            
        }
    }
}

