@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@media only screen and (min-width: 600px) {
  header {
    height: 450px;
    padding: 60px 50px;
  }
  header h1 {
    font-size: 50px;
    width: 40%;
  }
  h2 {
    padding-top: 50px;
  }
  .whoAmI {
    padding: 100px 25%;
  }
  .imgBlock {
    width: 400px;
    height: 250px;
  }
  aside {
    width: 400px;
    height: 250px;
  }
  aside button {
    margin: auto;
  }
  .skills {
    padding: 50px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 200px;
    padding: 25px;
  }
  header h1 {
    font-size: 30px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav div a {
    text-align: center;
  }
  nav a {
    margin: 7px;
    font-size: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  nav .aTag {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  h2 {
    padding-top: 30px;
  }
  .whoAmI {
    padding: 40px 15%;
  }
  .imgBlock {
    width: 350px;
    height: 230px;
  }
  aside {
    width: 350px;
    height: 230px;
  }
  aside button {
    margin: 10px;
  }
  .skills {
    padding: 30px;
    padding-top: 20px;
  }
}

header {
  background-image: url("https://images.pexels.com/photos/1039109/pexels-photo-1039109.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: 100% 150%;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header h1 {
  text-align: center;
  padding: 10px;
  background: #dad8d8;
  opacity: .8;
  border-radius: 30px;
  font-family: "Cormorant Garamond", serif;
  -webkit-box-shadow: 2px 2px 15px #dad8d8;
          box-shadow: 2px 2px 15px #dad8d8;
}

nav {
  background: #4A4D54;
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  -webkit-box-shadow: 0px 3px 3px rgba(248, 219, 105, 0.911);
          box-shadow: 0px 3px 3px rgba(248, 219, 105, 0.911);
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav a {
  color: #dad8d8;
  text-decoration: none;
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
}

nav a:hover {
  color: rgba(248, 219, 105, 0.911);
}

.projDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
}

.projDiv img {
  width: 100%;
}

.projDiv .imgBlock {
  background: #dad8d8;
  border: 5px solid #303030;
  overflow: hidden;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projDiv .imgBlock h2 {
  background: #303030;
  color: #dad8d8;
  padding: 10px;
  height: 60px;
}

.projBlock {
  border-bottom: 1px solid rgba(248, 219, 105, 0.911);
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

aside {
  color: #dad8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

aside .usedLang {
  margin: auto;
}

aside button {
  color: #303030;
  border: none;
  border-radius: 2px;
  padding: 7px;
  font-family: "Raleway", sans-serif;
}

aside button:hover {
  background: rgba(248, 219, 105, 0.911);
}

@media only screen and (min-width: 600px) {
  header {
    height: 450px;
    padding: 60px 50px;
  }
  header h1 {
    font-size: 50px;
    width: 40%;
  }
  h2 {
    padding-top: 50px;
  }
  .whoAmI {
    padding: 100px 25%;
  }
  .imgBlock {
    width: 400px;
    height: 250px;
  }
  aside {
    width: 400px;
    height: 250px;
  }
  aside button {
    margin: auto;
  }
  .skills {
    padding: 50px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 200px;
    padding: 25px;
  }
  header h1 {
    font-size: 30px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav div a {
    text-align: center;
  }
  nav a {
    margin: 7px;
    font-size: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  nav .aTag {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  h2 {
    padding-top: 30px;
  }
  .whoAmI {
    padding: 40px 15%;
  }
  .imgBlock {
    width: 350px;
    height: 230px;
  }
  aside {
    width: 350px;
    height: 230px;
  }
  aside button {
    margin: 10px;
  }
  .skills {
    padding: 30px;
    padding-top: 20px;
  }
}

.page {
  position: relative;
  min-height: 100vh;
}

.whoAmI h2 {
  border-bottom: 4px solid rgba(248, 219, 105, 0.911);
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
}

.projectSection {
  padding: 50px;
  background: #4A4D54;
}

.projectSection h2 {
  color: #dad8d8;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url("https://images.pexels.com/photos/1563332/pexels-photo-1563332.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons a {
  text-decoration: none;
  color: rgba(248, 219, 105, 0.911);
}

.icons a:hover {
  color: #dad8d8;
}

.icons p {
  font-size: 75px;
  padding: 50px 0px;
  width: 74px;
}

.fa-github-square:before, .fa-linkedin-square:before {
  padding: 5px;
}

.resume {
  background-image: url("https://images.pexels.com/photos/34435/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

.resume button {
  font-size: 20px;
  padding: 20px;
  margin: 40px;
  background: #4A4D54;
  color: #dad8d8;
  border: none;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
}

.resume button:hover {
  color: rgba(248, 219, 105, 0.911);
}

.jump {
  padding: 0;
}

.none {
  display: none;
}

.navList {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #dad8d8;
  color: #303030;
}

main {
  padding-bottom: 250px;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  font-family: "Raleway", sans-serif;
  line-height: 1.75;
}

h2 {
  text-align: center;
  padding: 30px;
  padding-bottom: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 35px;
}

h3, h4 {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  padding: 10px;
}

h4 {
  font-size: 25px;
}

h5 {
  padding: 3px;
  display: inline;
  border: 1px solid #303030;
  background: rgba(248, 219, 105, 0.911);
  color: #303030;
  border-radius: 4px;
}

footer {
  height: 250px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4A4D54;
  color: #dad8d8;
}

footer h2 {
  color: rgba(248, 219, 105, 0.911);
}

p {
  font-family: "Raleway", sans-serif;
  padding: 10px;
  line-height: 1.5;
}

i {
  height: 30px;
  width: 30px;
}
/*# sourceMappingURL=styles.css.map */