* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: lemonchiffon;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

header {
  text-align: center;
  text-decoration: underline;
}

section {
  border: 1px dotted black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border: black 1px solid;
}