* {
    margin: 0px;
}

@import "./media";
@import "./variables";



p {
    color: $fontMain;
    font-family: $bodyFont;
}


h3 {
    color: $fontMain;
    font-family: $hFont;
    text-transform: uppercase;
}

h4 {
    font-weight: lighter;
    font-family: $hFont;
    text-transform: uppercase;
    color: $fontMain;
}



.contain {
    display: grid;

    .header {
        background-image: $huntington;
        display: flex;
        flex-direction: column;
        align-content: center;

        .title {
            display: inline;
            h1 {
                display: inline;
                color: $lightBodyClr;
                font-weight: lighter;
                font-family: $hFont;
                text-transform: uppercase;
            }
            h3 {
                color: rgba(255,255,255,0.6);
                font-weight: lighter;
                font-style: italic;
                display: block;
            }
            img {
                display: inline-block;
                width: 80px;
                height: 80px;
            }
        }

        .viewAll {
        background: rgba(255,255,255,0.6);
        
            h3 {
                color: rgba(255,255,255, 0.9);
            }
            p {
                color: rgb(255,255,255);
            }
        
        }
    }



    .bodyOne {
        background: $lightBodyClr;
        @include mainStyles();
    }

    .examplePgs {
        background: $darkSideClr;
        @include mainStyles();
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px;
        
        
        .example {
            padding: 30px;
            border-top: solid 1px #d9e3dc;
            

            span {
                color: rgb(134, 134, 134);
                font-weight: lighter;
                font-style: italic;
            }

            p {
                font-family: $bodyFont;
            }
        }

        .example:hover {
            background: linear-gradient(to right, $darkSideClr 0%,rgba(255, 255, 255, .5) 50%, $darkSideClr 100%);
        }
    }

    .bodyTwo {
        @include sheerGreen();
        @include mainStyles();
    }

    .faq {
        @include sheerGreen;
        display: grid;
        grid-template-columns: 1fr 1fr;

        h4 {
            padding: 30px;
            border-top: solid 1px #afb4b1;
        }

        .last {
            grid-column: 1 / 3;
        }
    }

    .bodyThree {
        background: $lightBodyClr;
        @include mainStyles();
    }

    .empty {
        background: $darkSideClr;
        @include mainStyles();
    }

    

    .footer {
        .bySection {
            background-image: $huntington;
            @include mainStyles();
        }

        .logos {
            background: #184347;
            display:flex;
            flex-direction: column;
            align-items: center;

            div {
                display: flex;
                flex-direction: row;
                width: fit-content;
            }
            
            p {
                color: #8CA1A3;
                @include mainStyles();
                padding: 10px;
                margin: 30px;
                
            }
        }
    }


}