@media only screen and (min-width: 600px) {
    .adviceMap {
        width: 80%;

        .myAdvice {
            width: 75%;

            div {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .adviceMap {
        padding: 0px;
        .myAdvice {
            font-size: 15px;
            width: 95%;
        }
    }
}


.adviceMap {
    border: black dotted 4px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;

    .myAdvice {
        display: block;
        margin: auto;
        border-bottom: 1px dotted black;
        padding: 10px;
        
        h2 {
            padding: 25px;
        }

        button {
            font-size: 15px;
            padding: 10px;
        }
    }
}
