@media only screen and (min-width: 600px) {
  main .homeBtns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin: 25px;
  }
  main .homeBtns button {
    margin: 10px;
  }
  main .homeBtns .generateBtn {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
    width: 80%;
    margin: auto;
  }
  main .homeBtns .imgEffects {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: 1 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    width: 40%;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  main .homeBtns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .homeBtns .imgEffects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .homeBtns button {
  padding: 10px;
  font-size: 15px;
  background: gray;
}

main h1 {
  text-align: center;
  padding: 50px;
  width: 75%;
  margin: auto;
}

main p {
  text-align: center;
}

main .newImg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

main .newImg img {
  margin: auto;
}

main .newImg .saveStuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

main .newImg .saveStuff button {
  padding: 10px;
  background: gray;
}

nav {
  width: 230px;
  background: gray;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  border: black solid 3px;
}

nav a {
  padding: 70px;
  padding-top: 0px;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: lightgray;
}

nav .closeBtn {
  color: lightgray;
  top: 0;
  position: absolute;
  font-weight: lighter;
  font-size: 20px;
  display: block;
  margin-left: 223px;
  z-index: 3;
  background: gray;
  padding: 10px;
  border-radius: 0px 15px 15px 0px;
}

nav .closeBtn:hover {
  color: #a3a2a2;
}

.navOff {
  left: -230px;
}

@media only screen and (min-width: 600px) {
  .adviceMap .myAdvice {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .adviceMap .myAdvice {
    font-size: 10px;
    width: 95%;
  }
}

.adviceMap {
  border: black dotted 4px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 75px;
  padding: 30px;
}

.adviceMap .myAdvice {
  display: block;
  width: 80%;
  margin: auto;
  border-bottom: 1px dotted black;
  padding: 10px;
}

.adviceMap .myAdvice h2 {
  padding: 25px;
}

.adviceMap .myAdvice button {
  padding: 5px;
}

.imageMap {
  border: black dotted 4px;
  width: 75%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 75px;
  padding: 30px;
}

@media only screen and (min-width: 600px) {
  footer {
    position: absolute;
    bottom: 0px;
  }
  footer a {
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  a {
    padding: 10px;
  }
}

footer {
  width: 100%;
  background: gray;
  border: black solid 2px;
  padding: 20px;
  font-size: 40px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  text-decoration: none;
  color: lightgray;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: rosybrown;
}

.page {
  position: relative;
  min-height: 100vh;
}

.content {
  padding-bottom: 125px;
}

h1 {
  text-align: center;
  padding: 50px;
}
/*# sourceMappingURL=styles.css.map */