@import './home';
@import './nav';
@import './advice';
@import './images';
@import './footer';



@media only screen and (max-width: 600px) {
    .content {
        padding-bottom: 0px;
    }
}
@media only screen and (min-width: 600px) {
    .content {
        padding-bottom: 125px;
    }
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rosybrown;
}

.page {
    position: relative;
    min-height: 100vh;
}


h1 {
    text-align: center;
    padding: 50px;
}
