@import './home';
@import './nav';
@import './advice';
@import './images';
@import './footer';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rosybrown;
}

.page {
    position: relative;
    min-height: 100vh;
}

.content {
    padding-bottom: 125px;
}

h1 {
    text-align: center;
    padding: 50px;
}
