/* All */

body {
    background-color: #534B62;
    margin: 0px;
}

main {
    background-color: #C8A3A3;
    padding: 100px;
    color: #2A324B;
    margin: auto;
    width: 75%;
}

nav, .navList{
    list-style-type: none;
    display: flex;
    justify-content: left;
    background-color: #2A324B;
    position: sticky;
    top: 0;
    z-index: 99;
}


p {
    font-size: 25px;
}

a {
    color: #EED7C5;
    text-decoration: none;
    padding: 25px;
    font-size: 25px;
}

footer {
    background-color: #EED7C5;
    text-align: left;
    padding: 40px;
    color: #2A324B;
}


a:hover {
    text-decoration: none;
}

header {
    padding: 10px;
    margin-top: 0px;
    font-size: 30px;
    text-align: center;
    background-color: #2A324B;
    color: #EED7C5;
    text-align: center;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    color: #89023E;
    text-align: center;
    font-size: 30px;
}

button {
    background-color: #C8A3A3;
    border: dotted 2px #2A324B;
    border-radius: 50%;
    font-size: 30px;
    color: #2A324B;
    padding: 20px;
    margin: 10px;
}
/* Contact */

form {
    display: flex;
    margin: 20px;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border: solid 2px #2A324B;
    width: 50%
}

label {
    font-size: 25px;
    color: #2A324B
}


input[type=text]  {
    color: #2A324B;
    font-size: 25px;
    margin: 10px;
    width: 250px;
    background-color: #EED7C5;
}

input[type=number]{
    color: #2A324B;
    font-size: 25px;
    width: 75px;
    background-color: #EED7C5;
}

input[type=checkbox] {
    width: 20px;
}

input[type=radio] {
    width: 20px;
}

form > div {
    margin: 20px;
}


/* Events */

.imgLeft {
    width: 50%;
    margin-right: 30px;
    margin-bottom: 20px;
    float: left;
    height: 300px;
    object-fit: cover;
    transform: scaleX(-1);
    border: 10px dotted #2A324B;
}

.imgRight {
    width: 50%;
    margin-left: 30px;
    margin-bottom: 20px;
    float: right;
    height: 300px;
    object-fit: cover;
    transform: scaleX(-1);
    border: 10px dotted #2A324B;
}

.imgCenter {
    width: 100%;
    margin: auto;
    height: 500px;
    object-fit: cover;
    border: 10px dotted #2A324B;
}

section {
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

.events {
    display: flex;
    flex-direction: column;
}

/* Grounds */

.navTwo {
    top: 79px;
    background-color: #89023E;
}
