* {
    padding: 0px;
    margin: 0px;
}

img {
    width: 300px;
}

body {
    background: slategray;
}

main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

button {
    margin: 30px;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    background: slategray;
}

h1 {
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 65px;
}

h3 {
    padding: 20px;
    font-size: 30px;
    color: white;
}