body {
    background: rgb(36, 28, 48);
}

main {
    display: flex;
    justify-content: center;
    padding-top: 50%;
    padding: 100px;
}

button {
    margin: 30px;
    padding: 20px;
    font-size: 25px;
    background: lightgray;
    border-radius: 5px;
}

h3 {
    background: lightgray;
    color: black;
    padding: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px inset ;
}


.die {
    display: grid;
    width: 100px;
    height: 100px;
    grid: auto-flow / 1fr 1fr 1fr;
    background-color: white;
    box-shadow: -8px -8px 2px 1px black inset;
    border-radius: 18% 26%;
    padding: 22px 28px 28px 22px;
}
.circle {
    width: 90%;
    height: 90%;
    background-color: black;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}